body, button, input{
    font-size: 14px;
    font-family: 'Roboto', 'Tahoma', 'sans-serif';
    color: #252525;
    overflow-x: hidden;
}

body {
    margin-bottom: 250px;
}


footer {
    background-color: #959595;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

footer > ul {
    list-style-type: none;
    display: inline-grid;
}

h1 {
    text-align: center;
}

.copyright {
    color: #454545;
}

.grid {
    display: grid;
    gap: 30px;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-evenly;
    margin-top: 80px;
    margin: 50px 0;
    padding: 0 80px;
}

.grid-container {
    display: grid;
    gap: 30px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: space-evenly;
    margin-top: 80px;
    margin: 50px 0;
    padding: 0 80px;
}

.grid-graph {
    display: grid;
    gap: 10px;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    margin-top: 80px;
    padding: 0 80px;
}

.grid-item-graph {
    padding: 0 5px;
    box-shadow: 1px 3px 6px #454545;
    text-align: center;
}

.grid-controls {
    display: flex;
    flex-direction: row;

    margin-top: 80px;
    padding: 0 80px;
    text-align: left;
}

.grid-item-controls {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 16px;
}

.grid-item {
    padding: 20px;
    box-shadow: 1px 3px 6px #454545;
    background-color: #AAAAAA;
    border: 2px solid #252525;
    text-align: center;
}

.grid-menu {
    padding: 20px;
    text-align: center;
    height: 200px;
}

.span-2 {
    column-span: 2;
}

.grid-list-item {
    padding: 5px;
    text-align: start;
}

.link {
    padding: 40px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #2520EEAA;
    font-size: 24px;
    color: #EEEE
}

.red {
    background-color: #F23E3EAA;
}

.yellow {
    background-color: #895436AA;
}

.link:active {
    background-color: #202090AA;
}

.red:active {
    background-color: #D03E3EAA;
}

.yellow:active {
    background-color: #895436AA;
}

hr {
    border-top: 1px solid #454545;
}

.up {
    color: #008000
}

.down {
    color: #800000
}

.italic {
    font-style: italic;
    font-weight: normal;
}

.info {
    color: #959595;
    text-align: center;
}

select {
    color: #60666d;
    width: 340px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
}

button {
    width: 340px;
    border-radius: 15px;
    padding: 10px;
    background-color: #228080;
    color: white;
    outline: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.no-event {
    pointer-events: none;
    cursor: not-allowed;
}