<!doctype html>
<html lang="pt-br">

<head>
    <title>Randit</title>
    <!-- styles -->

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Google Font Roboto -->
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <!-- Static folder -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <!-- js -->

    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-1.52.3.min.js" charset="utf-8"></script>


</head>

<body>
    <h1>Dashboard de Negócios</h1>


    <h5 class="info"> <i class="fa fa-info-circle"></i> Dados nacionais sobre índices de segmentos e setoriais. </h5>
    <div class="grid-container">

            {% for i in sector['Rank A: Real-Time Performance'] %}

            <div class="grid-item">
                
                    {% if sector['Rank A: Real-Time Performance'][i] > '0' %}
                    <h3 class="up">    
                        <i class="fa fa-arrow-up"></i>
                        {{ sector['Rank A: Real-Time Performance'][i] }}
                    </h3>
                    {% else %}
                    <h3 class="down">
                        <i class="fa fa-arrow-down"></i>
                        {{ sector['Rank A: Real-Time Performance'][i] }}
                    </h3>
                    {% endif %}
                
                <p>{{ptBR[i]}}</p>
                <hr>
                <h4 class="italic">Acumulado no último mês: {{ sector['Rank D: 1 Month Performance'][i] }}</h4>
            </div>

            {% endfor %}

    </div>

    <hr>

    <div class="grid-controls">
        <div class="grid-item-controls">
            <label for="from">Converter</label>
            <select name="from" id="from">
                {% for m in moeda %}
                    <option value="{{m[0:3]}}"> {{m}}</option>
                {% endfor %}
            </select>

            <label for="from">Em</label>
            <select name="to" id="to">
                {% for m in moeda %}
                    <option value="{{m[0:3]}}"> {{m}}</option>
                {% endfor %}
            </select>
            <button name="enviar" onclick="listar()">Pesquisar</button>
        </div>

        <div class="grid-item-controls">
            <label for="equity">Ações</label>
            <select name="equity" id="equity">
                <option value="IBM">International Business Machines</option>
                <option value="MSFT">Microsoft Company</option>
                <option value="AAPL">Apple Inc</option>
                <option value="AMZN">Amazon</option>
                <option value="FB">Facebook inc</option>
                <option value="BABA">Alibaba corp</option>
                <option value="V">Visa Corp</option>
                <option value="MA">MasterCard Corp</option>
                <option value="UNH">Unh Health</option>
                <option value="NSRGF">Nestle Rough</option>
            </select>
            <button name="enviar" onclick="listar()">Pesquisar</button>
        </div>
    </div>

    <section class="grid-graph">
        {% for id in ids %}
            <div id="{{id}}" class="grid-item-graph"></div>
        {% endfor %}
    </section>

    <hr>
    
    <div class="grid-container">

        {% for i in letters %}
        
        <div class="grid-item">
            <div class="content">
            <h3>{{i['abstract'][0:40]}}...</h3>
            <img src="https://static01.nyt.com/{{i['multimedia'][0]['url']}}" width="100%" height="150px"/>
            <br><br>
            <a href="{{i['web_url']}}">Saiba Mais...</a>
            <br>
            <hr>
            <h4 class="italic">Publicado em: {{i['pub_date']}}</h4>
            </div>
        </div>

        {% endfor %}

    </div>
</body>
<footer>
    <ul class="grid-list-item">
        <li>Ailton da Silva Vieira - RA 1800224</li>
        <li>Diogo Teixeira Pires - RA 1200416</li>
    </ul>
    <ul class="grid-list-item">
        <li>João Vitor Paulino - RA 1801021</li>
        <li>Luan Santos - RA 1801000</li>
    </ul>
    <ul class="grid-list-item">
        <li>Tiago Miliozi Camilo - RA 1701849</li>
        <li>Victor de Paula Santos - RA 1701917</li>
    </ul>

    <p class="copyright">
        Copyright © 2020 Randit. Todos os direitos reservados. | Política de Privacidade
    </p>
</footer>

<script type="text/javascript">

    try {
        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};
        var sectors = {{sector | safe}};
        var ptBR = {{ptBR | safe}};
        var moeda = {{moeda | safe }};
        var letters = {{letters | safe}};  
    } catch (error) {
        console.log(error)
    }

    for (var i in graphs) {
        Plotly.plot(ids[i], // the ID of the div, created above
            graphs[i].data,
            graphs[i].layout || {});
    }

    function listar() {
        let from = document.querySelector('#from option:checked').value;
        let to = document.querySelector('#to option:checked').value;
        let equity = document.querySelector('#equity option:checked').value;
        window.location.href= `/dashboard?from=${from}&to=${to}&stock=${equity}`
    }

    console.log('USER', graphs);
</script>

</html>