<!doctype html>
<html lang="pt-br">

<head>
    <title>Randit</title>
    <!-- styles -->

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Google Font Roboto -->
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
        rel="stylesheet">
    <!-- Static folder -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

    <!-- js -->

    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-1.52.3.min.js" charset="utf-8"></script>


</head>

<body>
    <h1>Sistema de Cotação</h1>
    <section class="grid">
        <div class="grid-menu">
            <a href="/market" class="link no-event red">Administrador</a>
        </div>

        <div class="grid-menu">
            <a href="/dashboard?from=BRL&to=USD&stock=IBM" class="link blue">Área de Negócios</a>
        </div>

        <div class="grid-menu">
            <a href="/rates" class="link no-event yellow" disabled>Área Logística</a>
        </div>

    </section>
    <br>
    <footer>
        <ul class="grid-list-item">
            <li>Ailton da Silva Vieira - RA 1800224</li>
            <li>Diogo Teixeira Pires - RA 1200416</li>
        </ul>
        <ul class="grid-list-item">
            <li>João Vitor Paulino - RA 1801021</li>
            <li>Luan Santos - RA 1801000</li>
        </ul>
        <ul class="grid-list-item">
            <li>Tiago Miliozi Camilo - RA 1701849</li>
            <li>Victor de Paula Santos - RA 1701917</li>
        </ul>

        <p class="copyright">
            Copyright © 2020 Randit. Todos os direitos reservados. | Política de Privacidade
        </p>
    </footer>
</body>

</html>